<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67366323030-dssqeabqclut3fokq5kscnh4rlso5erv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67366323030-dssqeabqclut3fokq5kscnh4rlso5erv</string>
	<key>API_KEY</key>
	<string>AIzaSyA8fgRO5Djm3q-qh65cD317SgouO6GnAH8</string>
	<key>GCM_SENDER_ID</key>
	<string>67366323030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracking</string>
	<key>PROJECT_ID</key>
	<string>tracking-48f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>tracking-48f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67366323030:ios:c51daa7f71a642118e4cf7</string>
</dict>
</plist>